@import "../../Utils/_mixins";
@import "../../Utils/_variables.scss";
.mainContainer {
    padding: 20px 0px;
    .heading {
        font-size: 24px;
        font-weight: normal;
        color: #000;
        margin: 30px 0px;
    }
}

.inputField {
    @include Input_Field;
}
.disabledField {
    background-color: #e9ecef;
    &:focus {
        box-shadow: none;
        border: 1px solid #ced4da;
        outline: none;
    }
}
.userConsent {
    span {
        color: #009a54;
        cursor: pointer;
        font-weight: lighter;
        transition: all 0.5s ease;
    }
}

.hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.buttonContainer {
    margin-top: 50px;
    .buttonStyle {
        background-color: #009a54;
        border: none;
        color: white;
        padding: 15px 80px;
        font-size: 16px;
        font-family: "Inter";
        width: 100%;
        cursor: pointer;
    }
}

.logoContainer {
    margin-top: 8vh;
    display: flex;
    align-items: center;
    .masterCardLogo {
        margin-top: 7px;
    }
}
