@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600&display=swap");

$font-family: "Inter", sans-serif;
$theme-primary: #009a54;
$theme-secondary: #808080;
$theme-white: #fbfbfc;
$theme-black: #000;
$theme-button-text: #0d1821;
$theme-footer-nbp: #797f84;
$theme-card-green: #91e9c1;
$theme-footer-bg: #0d1821;
$theme-intro-section: #f0eff4;
$theme-home-cards-bg: #008e4e;
$theme-payment-container: #f0eff4;
$theme-payment-wrapper: #f8f7fa;
