@import "../_variables.scss";
@import "../_mixins.scss";

.mainContainer {
    background-color: $theme-payment-container;
    .wrapper {
        background-color: $theme-payment-wrapper;
        padding: 60px 2vw;
    }
    .heading {
        font-size: 32px;
        font-size: clamp(1.5rem, 6.8vw, 2rem);
        font-weight: 900;
        color: $theme-primary;
    }
    .paragraph {
        font-size: 16px;
        font-weight: normal;
        color: $theme-black;
        margin-top: 20px;
    }
}
