body {
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;

}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.toastBody {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding: 7px 2px !important;
    font-size: 14px;
    line-height: 20px;
}

::-moz-selection {
    /* Code for Firefox */
    color: white;
    background: #009a54;
}

::selection {
    color: white;
    background: #009a54;
}

/* FOR REACT-PHONE-INPUT */
.react-tel-input {
    margin-top: 25px !important;
}

.react-tel-input .form-control {
    height: 47px !important;
    width: 100% !important;
    border-radius: 3px !important;
    font-size: 16px !important;
    padding-left: 55px !important;
}

.react-tel-input .flag-dropdown {
    height: 47px !important;
    width: 50px !important;
}

.react-tel-input .selected-flag {
    width: 48px !important;
}

/* FOR REACT-PHONE-INPUT */